<div class="row">
  <div class="col-md-5">

  </div>
  <div class="col-md-3">
    <h1>Edit Vehicle</h1>
    <%= erb :"vehicles/form", :layout => false %>
  </div>
</div>
<div class="row">
  <div class="col-md-5">

  </div>
  <div class="col-md-3">
    <form action="/<%= @vehicle.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Delete">
    </form>
  </div>
</div>
