<form class="" action="/<%= @vehicle.id %>" method="POST">
  <div class="">
    <input type="text" name="name" placeholder="Enter your vehicle" value="<%= @vehicle.name %>"> <br><br>
  </div>

  <div class="">
    <textarea name="description" placeholder="Enter a short description of the vehicle"><%= @vehicle.description %></textarea> <br>
  </div>

  <div class="">
    <input type="submit" name="" value="Save Vehicle">
  </div>

  <% if(@vehicle.id != "") %>
    <input type="hidden" name="_method" value="PUT">
  <% end %>
</form>
