<div class="row">
  <div class="col-md-5">

  </div>
  <div class="col-md-3">
    <h1><%= @vehicle.name %></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-5">

  </div>
  <div class="col-md-3">
    <p><%= @vehicle.description %></p>
  </div>
</div>
