.object{
  text-align: center;
  background-image: image("public/images/background.jpg");
}

.jumbotron{

  background-color: lightgreen !important;
}

body{
    background-color: lightblue !important;
}

#siteTitle{
  text-align: center;
}

#homeLink{
  width: 50px;
}
